#home-container {
  padding: 2% 0 0 8%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#home-header img{
  max-width: 160px;
}

#home-header {
  margin-right: 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link, .link p{
  display: flex;
  align-items: center;
  font-size: 16px !important;
  color: #34CB79;
}

.link p {
  margin-left: 10px;
  margin-top: 0 !important;
}
.link.btn p {
  font-size: 14px !important;
}

.link:hover{
  color: rgb(45, 182, 106);
}

.link.btn {
  margin-top: 20px;
  border-radius: 6px;
  border: 1px solid #2FB86E;
  width: 250px;
  height: 48px;
}

.link.btn, .link.btn p{
  background-color: #34CB79;
  color: white !important;
}

.link.btn .icon{
  padding: 10px 14px;
  background-color: rgba(51, 133, 88, 0.26);
  border-radius: 6px 0 0 6px;
  display: flex;
  align-items: center;
  height: 48px;
}

#home-content {
  display: flex;
  align-items: center;
  flex: 1 1 1310px;
}


#home-content strong {
  color: #322153;
  font-size: 60px;
}

#home-content p {
  margin-top: 10px;
  color: #6C6C80;
  font-size: 24px;
}

#home-content #background-content {
  width: 100%;
  min-width: 780px;
  min-height: 690px;
  height: 100%;
  background: url('../../assets/home-background.svg');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

@media (max-width: 1187px) {
  #home-container {
    padding: 2% 8% 0 8%;
  }
  #home-content {
    margin-top: 40px;
    flex-direction: column;
    text-align: center;
  }

  #home-content #background-content {
    margin-top: 40px;
    min-width: 50px;
    min-height: 50px;
  }

  #home-content strong {
    font-size: 50px;
  }

  #home-header{
    justify-content: space-around;
    margin: 0;
  }

  .link.btn {
    margin: 20px auto;
  }
}

@media (max-width: 714px) {
  #home-header{
    flex-direction: column;
  }

  #home-header .link{
    margin-top: 30px;
  }
}

@media (max-width: 515px) {
  #background-content {
    display: none;
  }

  #home-content {
    justify-content: center;
    margin: 0;
    padding-bottom: 100px;
  }

  #home-content #content-text strong{
    font-size: 40px;
  }

  #home-content #content-text p{
    font-size: 18px;
  }

  #home-header {
    margin: 35px 0;
  }
}